{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="flex justify-center mt-10">
        <div class="w-full max-w-2xl bg-gray-200 p-8 rounded-lg shadow-md">
            <h1 class="text-3xl font-semibold mb-4">Password Change Complete</h1>
            <p class="block text-lg font-medium text-gray-700">
                Your password has been successfully changed. You can log in now on the <a href="{% url 'accounts:login' %}"
    class="text-slate-800 hover:text-green-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                </svg>
                <span>Login Page</span></a>
        </p>
    </div>
</div>
{% endblock content %}
