{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="flex justify-center mt-10">
        <div class="w-full max-w-2xl bg-gray-200 p-8 rounded-lg shadow-md">
            <h1 class="text-3xl font-semibold mb-4">Check Your Inbox</h1>
            <p class="block text-lg font-medium text-gray-700">
                We've emailed you instructions for setting your password. You should receive the email shortly!
            </p>
            <a href="{% url 'accounts:login' %}"
               class="text-slate-800 hover:text-yellow-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                    </svg>
                </span>
                <span class="hidden md:inline-block">Back</span>
            </a>
        </div>
    </form>
</div>
</div>
{% endblock content %}
