<div class="flex justify-between pl-5 mt-4 mb-4"
     id="invited_organization_table">
  <div class="overflow-x-auto">
    {% if invited_membership %}
      <table class="table-auto table-fixed border-collapse lg:w-full min-w-full mt-2">
        <thead class="bg-gray-800 text-white">
          <tr class="text-center">
            <th class="px-4 py-2">Organization Name</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for organization in invited_membership %}
            <tr>
              <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ organization.name }}</td>
              <td class="border px-4 py-2">
                <div class="flex flex-wrap gap-2">
                  <!-- Accept Membership Button -->
                  <button hx-post="{% url 'accounts:accept_membership' organization_id=organization.id %}"
                          hx-target="#member_pending_and_invite"
                          hx-trigger='confirm_organization_accept'
                          onClick="Swal.fire({ title: 'Are you sure?', text: 'Join Organization {{ organization.name }}?', icon: 'warning', showCancelButton: true, confirmButtonColor: '#22C55E', cancelButtonColor: '#EF4444', confirmButtonText: 'Yes, Join Organization!' }).then((result) => { if (result.isConfirmed) { htmx.trigger(this, 'confirm_organization_accept'); Swal.fire({ title: 'Joined!', timer: 2000, text: 'You Joined {{ organization.name }} .', icon: 'success' }); } });"
                          class="text-slate-800 hover:text-green-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-md font-medium px-2 py-1 flex items-center justify-center transition-all duration-300 ease-in-out group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                    </svg>
                    <span class="ml-2 hidden sm:inline-block group-hover:inline-block">Accept</span>
                  </button>
                  <!-- Reject Invitation Button -->
                  <button hx-delete="{% url 'accounts:organization_reject' organization_slug=organization.slug %}"
                          hx-target="#invited_organization_table"
                          hx-swap="outerHTML"
                          hx-trigger='confirm_reject'
                          onClick="Swal.fire({ title: 'Are you sure?', text: 'Reject invitation to join Organization {{ organization.name }}?', icon: 'warning', showCancelButton: true, confirmButtonColor: '#22C55E', cancelButtonColor: '#EF4444', confirmButtonText: 'Yes, Reject invite!' }).then((result) => { if (result.isConfirmed) { htmx.trigger(this, 'confirm_reject'); Swal.fire({ title: 'Rejected!', timer: 2000, text: 'You Rejected {{ organization.name }} .', icon: 'success' }); } });"
                          class="text-slate-800 hover:text-red-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-md font-medium px-2 py-1 flex items-center justify-center transition-all duration-300 ease-in-out group">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                    <span class="ml-2 hidden sm:inline-block group-hover:inline-block">Reject</span>
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h6 class="text-l font-semibold mb-0">No Invitations</h6>
    {% endif %}
  </div>
</div>
