<tr hx-target="this" hx-swap="outerHTML">
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.user.first_name }}</td>
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.user.last_name }}</td>
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.date }}</td>
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.start_time }}</td>
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.end_time }}</td>
    <td class="border px-4 py-2 overflow-hidden whitespace-normal">{{ booking.status }}</td>
    <td class="border px-4 py-2">
        <div class="flex flex-wrap gap-2">
            <button hx-get="{% url "bookings:manage_booking_asset_edit" booking_id=booking.id %}"
                    class="text-slate-800 hover:text-green-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-md font-medium px-2 py-1 flex items-center justify-center transition-all duration-300 ease-in-out group">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
                <span class="ml-2 hidden lg:inline-block group-hover:inline-block">Edit</span>
            </button>
            <a href="{% url "bookings:booking_participants" booking_id=booking.id %}"
               class="text-slate-800 hover:text-green-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-md font-medium px-2 py-1 flex items-center justify-center transition-all duration-300 ease-in-out group">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
                <span class="ml-2 hidden lg:inline-block group-hover:inline-block">Add Participants</span>
            </a>
        </div>
    </td>
</tr>
